body {
    background-color: #000;
}
header {
border: 1px solid rgb(0, 0, 0);
background-color: #000 ;   
height: 50px;
border-radius: 15px;
}
h1{
    position: relative;
    bottom: 16px;
    color: #fff;
    text-align: center;
    right: 18px;
}   
.line1 {
    border: 1px solid #4973ff;
    height: 0px;
}
.line2 {
    border: 1px solid #4973ff;
    height: 0px;
}
.footer{
    color: #fff;
}
.maintext{
    color: #fff;
    font-size: 35px;
    text-align:center;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
h3{
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}

h4{
    opacity: 0.5;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.exit-btn{ 
    width: auto;
    background-color:#4973ff;
    border-radius: 15px;
    padding: 15px 28px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 8px 3px #1f50f3;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    margin-left: 45px;
    
}
.exit{
    
    text-decoration: none;
    color: #fff;
}
.polit{
    margin-left: 50px;
}