body {
    background-color: #000;
    

}
header {
border: 1px solid rgb(0, 0, 0);
background-color: #000 ;   
height: 50px;
border-radius: 15px;
}
h1{
    position: relative;
    bottom: 16px;
    color: #fff;
    text-align: center;
    right: 18px;
}   
.line1 {
    border: 1px solid #4973ff;
    height: 0px;
}

.maintext{
    color: #fff;
    font-size: 35px;
    text-align:center;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}  
 
.log-btn{
    width: auto;
    background-color:#4973ff;
    border-radius: 15px;
    padding: 45px 130px;
    cursor: pointer;
    margin-left: 250px;
    border: 0;
    box-shadow: 0 0 8px 3px #1f50f3;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    color: white;
    
}

.line2 {
    border: 1px solid #4973ff;
    height: 0px;
}
.footer{
    color: #fff;
    
}
.aut-btn{ 
    width: auto;
    background-color:#4973ff;
    border-radius: 15px;
    padding: 45px 73px;
    cursor: pointer;
    margin-left: 230px;
    border: 0;
    box-shadow: 0 0 8px 3px #1f50f3;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    position: relative;
    left: 600px;
    bottom: 105px;
    color: white;
}

.guest-btn{
    width: auto;
    background-color:#4973ff;
    border-radius: 15px;
    padding: 25px 53px;
    cursor: pointer;
    margin-left: 1050px;
    border: 0;
    box-shadow: 0 0 8px 3px #1f50f3;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    position: relative;
    bottom: 90px;
}
.guest{
    text-decoration: none;
    color: #fff;
}
h3{
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}
.cont3{
    margin-left: 150px;
}
h4{
    opacity: 0.5;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.info {
    color: #fff;
    font-size: 35px;
    text-align:center;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.info2 {
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: 150px;
}